html {
    scroll-behavior: smooth;
}

body {
    background-image: url("waveBG.png");
    background-size: cover;
    background-attachment: fixed;
    top:0;
    position: relative;
}

/* body::-webkit-scrollbar {
    width:0;
    height:0;
} */

a {
    /* text-decoration: none; */
    color: inherit;
}

.navbar {
    /* position: absolute; */
    position: fixed;
    /* background-color: rgb(255,255,255); */
    top: 0px;
    left: 0;
    right:0;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* animation: opacityUP 2.5s ease 1;
    -webkit-animation: opacityUP 2.5s ease 1;
    -moz-animation: opacityUP 2.5s ease 1;
    -o-animation: opacityUP 2.5s ease 1; */
    z-index: 99;
    background-image: url("waveBG2.png");
    background-size: cover;
    align-items: center;
    justify-content: center;
    /* background-attachment: fixed; */
    /* box-shadow: 0 0 10px rgba(255, 255, 255, 1); */
}

.navbar ul {
    
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    /* position: absolute; */
    position: relative;
    top: 5px;
    margin: 0;
    padding: 0;
    /* border: 4px solid green; */
    /* opacity: 0; */
}

.navbar ul li {
    position: relative;
    list-style: none;
    margin: 2px;
}

.navbar ul li a{
    color: rgb(255,245,237);
    /* color: rgb(247,247,245); */
    position: relative;
    display: flex;
    /* border: 0.1em solid black; */
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    padding: 0 0.5em;
    flex-direction: column;
    text-decoration: none;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    
}

.navbar ul li a .icon {
    justify-content: center;
    padding-top: 0.5em;
    position: relative;
    top: 3px;
    transform: scale(1.5);
    transition: transform 0.2s ease;
    
    /* text-shadow: 2px 2px black; */
}



.navbar ul li a .navbar-headings{
    font-family: 'Varela Round', sans-serif;
    color: rgb(27,27,27);
    position: relative;
    margin: 0.2em;
    font-size: 0.9em;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.navbar ul li a:hover {
    color: rgb(27,27,27);
    background: rgb(255,245,237);
    /* animation: icon-shrink 0.2s ease; */
}

.navbar ul li a:hover .icon {
    transform: scale(1);
}

.navbar ul li a:focus {
    color: rgb(27,27,27);
    background: rgb(255,245,237);

}

.navbar ul li[class=item1] {
    animation: navbar-startup1 1.3s ease 1;
}

.navbar ul li[class=item2] {
    animation: navbar-startup2 1.3s ease 1;
}

/* .navbar ul li[class=item3] {
    animation: navbar-startup3 1.3s ease 1;
} */

.navbar ul li[class=item3] {
    animation: navbar-startup4 1.3s ease 1;
}

.navbar ul li[class=item4] {
    animation: navbar-startup5 1.3s ease 1;
}

.navbar ul li[class*=item]:hover .navbar-headings {
    opacity: 1;
}

/* .page-content {
    position:absolute;
    border: 4px solid green;
    overflow-y: scroll;   
} */

.home {
    position: relative;
    display: flex;
    /* flex-direction: column; */
    top: 70px;
    /* bottom: 0; */
    height: 480px;
    margin: 0 20px;
    border : 4px solid #A13333; border-radius: 10px;
    animation: opacityUP 2s ease 1;
    -webkit-animation: opacityUP 2s ease 1;
    -moz-animation: opacityUP 2s ease 1;
    -o-animation: opacityUP 2s ease 1;
    
}

.intro-box {
    position: relative;
    width: 300px;
    height: 150px;
    background-color: rgb(255,245,237);
    top: 120px;
    left: 100px;
    border-radius: 20px;
    /* justify-content: center; */
    /* text-align: center; */
    /* align-items: center; */
    cursor: pointer;
    user-select: none;
    
}

.intro-box:hover #hello {
    top: 37px;
}

.intro-box:hover #myname {
    top: 22px;
}

.intro-box2 {
    position: relative;
    width:300px;
    height: 160px;
    background-color: rgb(233,225,221);
    top: 120px;
    left: -200px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    user-select: none;
    z-index: -1;
    
}

.intro-box::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: rgb(233,225,221);
    /* top: 140px; */
    top: 140px;
    left: 50px;
    transform: perspective(3em) rotateX(20deg) scale(1, 0.15);
    width: 200px;
    height: 100px;
    opacity: 0; 
    filter: blur(2em);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.intro-box:hover::before{
    filter: blur(5em);
    opacity: 0.7;
}

#hello {
    position: relative;
    top: 30px;
    left: 20px;
    font-size: 1.3em;
    font-family: 'Ubuntu', sans-serif;
    transition: top 0.5s ease 0.5s;
    -webkit-transition: top 0.5s ease 0.5s;
    -moz-transition: top 0.5s ease 0.5s;
    -o-transition: top 0.5s ease 0.5s;
    /* animation: intro-box-movement2 1s ease 1; */
}

#myname {
    position: relative;
    top: 30px;
    left: 13px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 3.4em;
    transition: top 0.5s ease 0.1s;
    -webkit-transition: top 0.5s ease 0.1s;
    -moz-transition: top 0.5s ease 0.1s;
    -o-transition: top 0.5s ease 0.1s;
    /* animation: intro-box-movement1 1s ease 1; */
}

.pfp {
    width: 300px;
    height: 300px;
    top: 30px;
    left: 150px;
    position: relative;

}

.pfp:hover {
    animation: pfp-rotate 4s ease infinite 0.5s;
}

.about-me {
    position: relative;
    /* display: flex; */
    top: 70px;
    height: 480px;
    margin: 20px 20px;
    border : 4px solid #A13333; border-radius: 10px;
    padding: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    color: rgb(233,225,221);
    font-size: 1.3em;
    animation: opacityUP 2s ease 1;
    -webkit-animation: opacityUP 2s ease 1;
    -moz-animation: opacityUP 2s ease 1;
    -o-animation: opacityUP 2s ease 1;
}

.heading {
    margin: 0px;
    padding: 10px;
    position: relative;
    text-align: center;
    color: #CD1818;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 2em;
}

.skills-interests {
    position: relative;
    /* display: flex; */
    top: 70px;
    height: 480px;
    margin: 20px 20px;
    border : 4px solid #A13333; border-radius: 10px;
    padding: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    color: rgb(233,225,221);
    font-size: 1.3em;
    animation: opacityUP 2s ease 1;
    -webkit-animation: opacityUP 2s ease 1;
    -moz-animation: opacityUP 2s ease 1;
    -o-animation: opacityUP 2s ease 1;
}

.projects {
    position: relative;
    /* display: flex; */
    top: 70px;
    height: 480px;
    margin: 20px 20px;
    border : 4px solid #A13333; border-radius: 10px;
    padding: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    color: rgb(233,225,221);
    font-size: 1.3em;
    animation: opacityUP 2s ease 1;
    -webkit-animation: opacityUP 2s ease 1;
    -moz-animation: opacityUP 2s ease 1;
    -o-animation: opacityUP 2s ease 1;
}

.contact-me {
    position: relative;
    /* display: flex; */
    top: 70px;
    bottom: 50px;
    height: 480px;
    margin: 20px 20px;
    border : 4px solid #A13333; border-radius: 10px;
    padding: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    color: rgb(233,225,221);
    font-size: 1.3em;
}

.contact-links {
    font-size:3em;
    display: flex;
    position: relative;
    top: 350px;
    left: -115px;
    /* padding: 20px; */
    color: #CD1818;
    /* text-align: center;     */
}

#link1, #link2, #link3 {
    margin: 5px;
    transition: font-size 0.5s ease;
}

#link1:hover, #link2:hover, #link3:hover {
    font-size: 1.1em;
}

#link {
    margin: 10px;
}

.footer {
    position: relative;
    /* border : 4px solid #A13333; border-radius: 10px; */
    top: 70px;
    height: 30px;
    margin: 20px 20px;
}


@keyframes opacityUP {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes navbar-startup1 {
    0% {left:150px;}
    100% {left:0px;}
}

@keyframes navbar-startup2 {
    0% {left:60px;}
    100% {left:0px;}
}

/* @keyframes navbar-startup3 {
    0% {left:200px;}
    100% {left:0px;}
} */

@keyframes navbar-startup4 {
    0% {left:-60px;}
    100% {left:0px;}
}

@keyframes navbar-startup5 {
    0% {left:-150px;}
    100% {left:0px;}
}

@keyframes intro-box-shadow {
    0% {filter: blur(2em);}
    100% {filter: blur(5em);}
}

@keyframes intro-box-movement1 {
    0% {top: 10px; pointer-events: none;}
    100% {top: 30px;pointer-events: none;}
}


@keyframes intro-box-movement2 {
    0% {top: 45px;pointer-events: none;}
    100% {top: 30px;pointer-events: none;}
}

@keyframes icon-shrink {
    0% {transform: scale(1.5);}
    100% {transform: scale(1);}
}

@keyframes pfp-rotate {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}